@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.card {
    display: block;
    width: 350px;
    height: 350px;
    margin: auto;
    background-image: linear-gradient(to bottom, hsl(213, 19%, 18%), hsl(213, 19%, 11%));
    border-radius: 20px;
    padding: 30px;
}

#icon {
    background-color: hsl(213, 19%, 19%);
    border-radius: 50%;
    padding: 12px;
}

h2 {
    padding-top: 20px;
}

.text {
    padding: 10px 0px;
    color: hsl(217, 12%, 63%);
}

#numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.number {
    background-color: hsl(213, 19%, 19%);
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: hsl(217, 12%, 63%);
    cursor: pointer;
}

button {
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.thankyou-state {
    display: none;
} 

@media screen and (max-width:600px) {
    .main {
        width: 100vw;
    }

    .card {
        width: 90%;
    }
}
